<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.1" targetFramework="net471" />
  <package id="AngleSharp.Js" version="0.15.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net471" />
  <package id="jint" version="2.10.4" targetFramework="net471" />
</packages>